*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 128);
}

header {
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  line-height: 150%;
}

.quote-container {
  margin-bottom: 3rem;
}

.quote-container:last-of-type {
  margin-bottom: 5rem;
}

.quote-container + hr {
  border-color: lightgray;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.quote-container + hr:last-of-type {
  display: none;
}

h2.quote {
  margin-bottom: 1rem;
}

h2.quote span {
  color: rgba(0, 0, 0, .75);
  font-size: 120%;
  user-select: none;
}

h2.quote span:first-of-type {
  margin-right: 0.25rem;
}

h2.quote span:last-of-type {
  margin-left: 0.25rem;
}

section.author {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.author img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.authorName {
  margin-bottom: .5rem;
}

.authorName::before {
  content: "– ";
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: .5rem;
}

.tags a {
  margin-right: 0.25rem;
  vertical-align: middle;
}

.tags a::before {
  content: "#";
  margin-right: .1rem;
}

.tags .freq {
  font-size: 0.9rem;
  vertical-align: middle;
}

button#more {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-weight: bold;
  padding: .5rem 1rem;
  border: 2px solid #000;
  color: blue;
}

button#more:hover {
  color: rgb(0, 0, 128);
}

button#more::before {
  content: "+";
  margin-right: .5rem;
  font-size: 1.25rem;
}

#AuthorPage .author {
  margin-bottom: 5rem;
}

#AuthorsPage h2 {
  margin-bottom: 3rem;
  text-transform: uppercase;
}

#AuthorsPage .author {
  margin-bottom: 3rem;
}

#AuthorsPage .authorName::before {
  content: none;
}

#TagsPage h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

#TagsPage .tags {
  font-size: 1.2rem;
}

#tag {
  margin-bottom: 3rem;
}

#tag::before {
  content: "#";
  margin-right: 0.2rem;
}

#TagPage #title {
  margin-bottom: 5rem;
}

#TagPage #title span {
  color: blue;
  margin-left: 0.5rem;
}

#TagPage #title span::before {
  content: "#";
  margin-right: 0.1rem;
}

@media(max-width: 420px) {
  header, .quote-container:last-of-type, #AuthorPage .author, #TagPage #title {
    margin-bottom: 3rem;
  }
}
